<h1 style="margin-left: 120px;">Our Suggestions</h1>
<div class="friends-wrapper">
  <ng-container *ngFor="let friend of friends">
    <nz-card routerLink="/friends/friend-profile/{{friend.id}}" nzHoverable style="width:240px"
      [nzCover]="coverTemplate">
      <nz-card-meta nzTitle="{{friend.fullName}}" nzDescription="{{friend.companies}}"></nz-card-meta>
      <nz-card-meta nzTitle="Subjects" nzDescription="{{friend.subjects}}"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://localhost:7273/Images/{{friend.imageUrl}}" />
    </ng-template>
  </ng-container>
</div>