




.main {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle-container {
  z-index: -1;
  position: relative;
}

.dashed-circle {
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  background-image:
    radial-gradient(circle at 50% 0, transparent 94%, #000 95%, transparent 96%),
    radial-gradient(circle at 0 50%, transparent 94%, #000 95%, transparent 96%),
    radial-gradient(circle at 50% 100%, transparent 94%, #000 95%, transparent 96%),
    radial-gradient(circle at 100% 50%, transparent 94%, #000 95%, transparent 96%);
  background-size: 10px 10px; /* Adjust this to control the space between dashes */
  background-position: center;
  background-repeat: repeat;
}

.dashed-circle1 {
  width: 600px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dashed-circle2 {
  width: 800px;
  height: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dashed-circle3 {
  width: 1000px;
  height: 1000px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dashed-circle4 {
  width: 1200px;
  height: 1200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dashed-circle5 {
  width: 1500px;
  height: 1500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dashed-circle6 {
  width: 1800px;
  height: 1800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-text{
  font-size: 3.5rem;
  font-weight: 800;
  color: #000;
  margin-bottom: 20px;
  width: 900px;
  letter-spacing: 0.05em;
  justify-content: center;
}

.shorter-text {
  font-size: 1.2rem;
  color: #333; /* A softer color than pure black for better readability */
  line-height: 1.6; /* Good line height for readability */
  margin-bottom: 1.5rem; /* Space after paragraph */
  max-width: 800px; /* Limit width for optimal reading length */
  letter-spacing: normal; /* Default spacing for body text */
}


.highlight-text {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5)); /* Stronger shadow for more depth */
  color: #dbf301;
  font-weight: bold; /* Make the text bolder */
  text-shadow: 0px 0px 6px rgba(255, 255, 0, 0.7); /* Add a glowing effect */
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;

  .get-started-button{
    background-color: #dbf301;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 200ms;

    &:hover{
      background-color: #fff;
      color: #000;
      border: #dbf301 1px solid;
    }

  }

  .get-demo-button{
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20px;
    border: #dbf301 1px solid;
    transition: 200ms;

    &:hover{
      background-color: #dbf301;
      color: #000;
    }
  }
}

@mixin shapestyles (){
  width: 100px;
  height: 100px;
  background-color: #dbf301;
  position: absolute;
  border: #000 2px solid;
}
.small-circle{
  @include shapestyles();
  border-radius: 50%;
}

.small-cube{
  @include shapestyles();
}


.icon:nth-child(1){
  position: absolute;
  left: 300px;
  top: 400px;
}

.icon:nth-child(2){
  position: absolute;
  left: 450px;
  top: -100px;
}

.icon:nth-child(3){
  position: absolute;
  right: 600px;
  top: 300px;
}

.icon:nth-child(4){
  position: absolute;
  right: 500px;
  top: -100px;
}
