<div class="main">

  <!-- BG -->
  <div class="circle-container">
    <div class="dashed-circle dashed-circle6"></div>
    <div class="dashed-circle dashed-circle5"></div>
    <div class="dashed-circle dashed-circle4"></div>
    <div class="dashed-circle dashed-circle3"></div>
    <div class="dashed-circle dashed-circle2"></div>
    <div class="dashed-circle dashed-circle1"></div>
    <div class="icons-container">
      <div class="icon small-circle"></div>
      <div class="icon small-cube"></div>
      <div class="icon "><img src="../../../../assets/images/user-icon.svg" alt=""></div>
      <div class="icon "><img src="../../../../assets/images/checkmark.svg" alt=""></div>
    </div>
  </div>

  <div class="content">
    <h1 class="main-text"><span class="highlight-text">Tracker</span> Tailored for Educators</h1>
    <p class="shorter-text">Effortlessly plan and manage your academic engagements with a platform designed for the
      dynamic schedules of educators. From lectures to office hours, bring organization and clarity to your
      educational commitments.</p>

    <div class="button-container">

      <a routerLink="/auth/Register"><button class="get-started-button">Get Started</button></a>

      <a routerLink="/auth/Register"><button class="get-demo-button">Go To App</button></a>
    </div>
  </div>
</div>