<div class="center-container">
  <div class="inner">
    <h1>Add Group</h1>
    <pre>
      {{ groupForm.value | json }}
    </pre>
    <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="companyName">Company Name:</label>
        <input type="text" id="companyName" placeholder="It Step Academy" formControlName="companyName" required />
      </div>

      <div>
        <label for="groupName">Group Name:</label>
        <input type="text" id="groupName" formControlName="groupName" placeholder="JP_WS_19_6" required />
      </div>

      <div>
        <label nz-popover="Level of the group" for="grade">Grade <span nz-icon nzType="exclamation-circle"
            nzTheme="outline"></span></label>
        <select id="grade" formControlName="grade" required>
          <option value="">Select Grade</option>
          <option value="junior">Junior</option>
          <option value="Middle">Middle</option>
          <option value="Professional">Professional</option>
          <option value="Short Term">Short Term</option>
        </select>
      </div>

      <div>
        <label nz-popover="Type of the group" for="groupType">Type <span nz-icon nzType="exclamation-circle"
            nzTheme="outline"></span></label>
        <select id="groupType" formControlName="groupType" required>
          <option value="">Select Type</option>
          <option value="Frontend">Frontend</option>
          <option value="Backend">Backend</option>
          <option value="Fullstack">Fullstack</option>
          <option value="Java">Java</option>
          <option value="Python">Python</option>
          <option value="C#">C#</option>
          <option value="PHP">PHP</option>
          <option value="JS">JS</option>
          <option value="Android">Android</option>
          <option value="IOS">IOS</option>
          <option value="QA">QA</option>
          <option value="DevOps">DevOps</option>
          <option value="Design">Design</option>
          <option value="PM">PM</option>
          <option value="HR">HR</option>
          <option value="Marketing">Marketing</option>
          <option value="Sales">Sales</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <!-- color -->
      <div>
        <label nz-popover="Color of the group banner" for="hexColor">Color <span nz-icon nzType="exclamation-circle"
            nzTheme="outline"></span></label>
        <select id="hexColor" formControlName="hexColor" required>
          <option value="">Select Color</option>
          <option value="#B31312">Red</option>
          <option value="#0802A3">Blue</option>
          <option value="#36AE7C">Green</option>

        </select>
      </div>
      <div>
        <label nz-popover nzPopoverTitle="Sessions amount is total amount of lections" for="sessionsAmount">Sessions
          Amount: <span nz-icon nzType="exclamation-circle" nzTheme="outline"></span></label>
        <select id="sessionsAmount" formControlName="sessionsAmount" required>
          <option value="">Select Amount</option>
          <option [value]="8">8</option>
          <option [value]="16">16</option>
          <option [value]="24">24</option>
          <option [value]="36">36</option>
          <option [value]="44">44</option>
          <option [value]="54">54</option>
        </select>
      </div>


      <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" formControlName="startDate" required />
      </div>

      <div>
        <label nz-popover="amount of lections in one calendar week" for="perWeek">Sessions Per Week: <span nz-icon
            nzType="exclamation-circle" nzTheme="outline"></span></label>
        <input type="number" id="perWeek" formControlName="perWeek" required />
      </div>

      <div nz-popover="if the lections are in online format">
        <label for="isOnline">Is Online: <span nz-icon nzType="exclamation-circle" nzTheme="outline"></span></label>
        <br>
        <input type="checkbox" id="isOnline" formControlName="isOnline" />
      </div>

      <button nz-button nzType="primary" [nzLoading]="isLoading">
        Submit Group
      </button>
    </form>
  </div>
</div>
