<div class="container">
  <div class="form-container">
    <form #myForm="ngForm">
      <h1>Registration</h1>

      <div class="input-container">
        <input type="text" id="username1" [(ngModel)]="_firstName" name="firstName" (focus)="onFocus($event)"
          (blur)="onBlur($event)" [attr.placeholder]="placeholder['firstName']" required />
        <label for="username1">First Name</label>
      </div>

      <div class="input-container">
        <input type="text" id="username2" [(ngModel)]="_lastName" name="lastName" (focus)="onFocus($event)"
          (blur)="onBlur($event)" [attr.placeholder]="placeholder['lastName']" required />
        <label for="username2">Last Name</label>
      </div>

      <div class="input-container">
        <input type="email" id="email" [(ngModel)]="_email" name="email" #emailCtrl="ngModel" (focus)="onFocus($event)"
          (blur)="onBlur($event)" [attr.placeholder]="placeholder['email']" required customEmail />
        <label for="email">Email</label>
        <span *ngIf="emailCtrl.invalid && emailCtrl.touched">Invalid Email</span>
      </div>

      <div class="input-container">
        <input type="password" id="password" [(ngModel)]="_password" name="password" #passwordCtrl="ngModel"
          (focus)="onFocus($event)" (blur)="onBlur($event)" [attr.placeholder]="placeholder['password']" required
          customPassword />
        <label for="password">Password</label>
        <span *ngIf="passwordCtrl.invalid && passwordCtrl.touched">Invalid Password</span>
      </div>

      <button (click)="Authorize()" type="submit" [disabled]="!myForm.form.valid || !myForm.form.dirty"
        [ngClass]="{ 'disabled-button': !myForm.form.valid || !myForm.form.dirty, 'enabled-button': myForm.form.valid && myForm.form.dirty }">
        <span *ngIf="!isLoading">Register</span>
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
        <i *ngIf="!isLoading" class="fa fa-arrow-right"></i>
      </button>
    </form>
  </div>
  <div class="image-container">
    <img src="../../../../assets/images/RegisterBanner.jpg" alt="Image">
  </div>
</div>