<div class="element">
  <div class="color-coded">
    <div class="frame">
      <div class="text-wrapper">Middle</div>
      <div class="div">JP_320_4</div>
    </div>
    <div class="text-wrapper-2">It Step Academy</div>
  </div>
  <div class="frame-wrapper">
    <div class="frame-2">
      <div class="frame-3">
        <div class="frame-4">
          <div class="frame-5">
            <div class="text-wrapper-3">Lection 24</div>
            <div class="text-wrapper-4">Headline</div>
          </div>
          <div class="progress-bar">
            <div class="bar">
              <div class="progress-color"></div>
            </div>
            <div class="number-indication">95/100</div>
          </div>
        </div>
        <p class="p">24 Auditorium</p>
      </div>
      <button class="tag-or-button">Button</button>
    </div>
  </div>
</div>