<ul class="cool-sidebar" nz-menu nzMode="vertical" nzTheme="dark">
  <li nz-menu-item routerLink="" routerLinkActive="ant-menu-item-selected">
    <i nz-icon nzType="home" nzTheme="outline"></i>
    <span>Home</span>
  </li>
  <li nz-menu-item routerLink="/calendar" routerLinkActive="ant-menu-item-selected">
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    <span>Calendar</span>
  </li>
  <li nz-menu-item routerLink="/groups" routerLinkActive="ant-menu-item-selected">
    <i nz-icon nzType="usergroup-add" nzTheme="outline"></i>
    <span>Groups</span>
  </li>

  <!-- Logout item -->
  <li (click)="_autService.logOut()" nz-menu-item class="logout-item">
    <i nz-icon nzType="logout" nzTheme="outline"></i>
    <span>Logout</span>
  </li>
</ul>