ul[nz-menu] {
  height: 100vh;
  overflow-y: auto;
}

li[nz-menu-item] {
  line-height: 2.5;
  font-size: 16px;
  color: #ffffff;
}

i[nz-icon] {
  margin-right: 10px;
}
.cool-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh; /* make it occupy the full height of its parent or the viewport */
}


.logout-item {
  margin-top: auto; /* pushes the item to the bottom */
}
