<div class="wrapper">
  <div class="top-side">
    <div (click)="callBannerEditModal()" class="background-banner"
      [ngStyle]="{'background-image': _bannerPicture ? 'url(' + _bannerPicture + ')' : 'none'}">
      <span class="hidden">Click To Edit<span nz-icon nzType="edit" nzTheme="outline"></span></span>
    </div>

    <div class="initials-container">
      <app-initials-avatar *ngIf="!_profilePictureFileName" [size]="'big'"
        [fullName]="_authService.getLecturerName()"></app-initials-avatar>

      <img *ngIf="_profilePictureFileName" (click)="callUploadModal()" class="profile-picture" [src]="_profilePicture"
        alt="" />
    </div>
  </div>

  <div class="socials-container">
    <div class="inner">
      <div class="icon" (click)="callSocialsEditModal()">
        <span>Click To Edit<span nz-icon nzType="edit" nzTheme="outline"></span></span>
      </div>
      <div *ngIf="_socialLinks.facebookLink" class="icon">
        <a target="_blank" href="{{_socialLinks.facebookLink}}">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
      <div *ngIf="_socialLinks.instagramLink" class="icon">
        <a target="_blank" href="{{_socialLinks.instagramLink}}">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <div *ngIf="_socialLinks.linkedInLink" class="icon">
        <a target="_blank" href="{{_socialLinks.linkedInLink}}">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <div *ngIf="_socialLinks.twitterLink" class="icon">
        <a target="_blank" href="{{_socialLinks.twitterLink}}">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div *ngIf="_socialLinks.youTubeLink" class="icon">
        <a target="_blank" href="{{_socialLinks.youTubeLink}}">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <!-- personal website -->
      <div *ngIf="_socialLinks.personalWebsiteLink" class="icon">
        <a target="_blank" href="{{_socialLinks.personalWebsiteLink}}">
          <i class="fas fa-globe"></i>
        </a>
      </div>
    </div>
    <!-- edit icon -->

  </div>
  <div class="chip-container">
    <ng-container *ngFor="let group of _groups">
      <app-group-card [groupColor]="group.hexColor" [groupDay]="group.days" [groupTime]="group.time"
        [groupAuditorium]="group.auditorium" [groupSubject]="group.groupType" [groupGrade]="group.grade"
        [groupCompany]="group.companyName" [groupName]="group.groupName"></app-group-card>

    </ng-container>
    <div routerLink="/group-manager/add-group" class="add-chip">
      <div class="inner">
        <div class="icon">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </div>
        <div class="text">
          <span>Add Group</span>
        </div>
      </div>
    </div>
  </div>
</div>