<div @fadeAnimation class="container">
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <h1>Add Companies</h1>
      <p>provide a list of companies you work in</p>
      <div class="input-container">

        <div class="input-button-container">
          <input type="text" nz-input placeholder="Add a company" [formControl]="companyControl"
            (keydown.enter)="addCompany()">
          <button type="button" class="add-company-button" (click)="addCompany()"
            [disabled]="!companyControl.valid">Add</button>
        </div>
        <label for="companyInput">Companies</label>

      </div>
      <nz-tag (click)="removeCompany(company)" *ngFor="let company of Companies">
        {{company}}
        <i nz-icon nzType="close"></i>
      </nz-tag>
      <button type="button" (click)="onSubmit()">Finalize Registration</button>
    </form>

  </div>
  <div class="image-container">
    <img src="../../../../assets/images/CompaniesBanner.png" alt="Image">
  </div>
</div>