<ng-container *ngIf="size === 'small'">
  <div *ngIf="!_profilePictureFileName" class="avatar" (click)="toggleDropdown()">
    {{ initials }}
  </div>
  <div *ngIf="_profilePictureFileName" class="avatar_Pic" (click)="toggleDropdown()">
    <img [src]="_profilePicture" alt="" />
  </div>

  <div class="dropdown-menu" *ngIf="showDropdown">
    <button class="dropdown-item"><a routerLink="/Calendar"><i
          class="fa-regular fa-calendar-days"></i>Dashboard</a></button>
    <button class="dropdown-item"><a routerLink="/profile"><i class="fa-regular fa-id-badge"></i>Profile</a></button>
    <button (click)="logOutAction()" class="dropdown-item"><i class="fa-solid fa-arrow-right-from-bracket"></i>Log
      Out</button>
  </div>
</ng-container>
<ng-container *ngIf="size === 'big'">
  <div class="avatar-bigger" (click)="callDetailsModal()">
    {{ initials }}
  </div>
</ng-container>
